@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
nav {
  top:0px;
  font-size: 2em;
  padding-left: 150px;
}
nav a:hover {
    background-color: rgb(60, 216, 68);
    cursor: pointer;
    border-radius: 2px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color:black;
}
.heading {
  color: black;
  text-align: center;
  font-size: 4em;
  margin-bottom: 20px;
}

.logo {
  display:block;
  width:200px;
  height:200px;
  border: 2px solid black;
  border-radius: 50%;
  text-align: center;
  background-color: rgb(60, 216, 68);
  margin-left: 600px;
  padding-top:90px;
  font-size: larger;
}
.images {
  display: inline-block;
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 10px;
  column-gap: 10px;
}
.images img {
  width: 100%;
  cursor: pointer;
  transition: 0.3s all ease;
}

.images .container1 {
  position: relative;
  cursor:pointer;
}



.images img:hover {
      transform: scale(0.9);
    }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(60, 216, 68);
  }
  

  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .container1:hover .overlay {
    opacity:0.7;
  }

  .images img:hover .overlay{
    opacity:0.7;
  }

  footer button {
        float: left;
        color: black;
        height: 70px;
        width: 180px;
        margin-bottom: 10px;
        margin-top: 20px;
        border: white;
        font-size: large;
        cursor: pointer;
    }
  
    button:hover {
      letter-spacing: 1px;
      text-transform: uppercase;
      background-color: rgb(60, 216, 68);
    }

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  z-index: 1;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
}


.modalContent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.modalheader {
  background-color: rgb(60, 216, 68);
  width:100%;
  height: 80px;
  color: #fff;
  padding-top: 20px;
  
}

section  {
  background-color: white;
  color:black;
  width:100%;
  height:auto;
  padding: 30px;
  
}

.column {
  float: left;
  padding: 50px;
  width:50%;
}

.row:after {
  content: "";
  display: table;
  clear:both;
}

.modalImg {
  width: 100%;
  
}
.modalTxt {
  margin-top: 1em;
}
.close {
  position: absolute;
  top: 110px;
  right: 1.5em;
  font-size: 3em;
  cursor: pointer;
}
.modal.appear {
  opacity: 1;
  pointer-events: all;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.container2 {
  position:relative;
  
}

.currentImage {
  width: 100%;
}
.thumbnail {
  position: relative;
  display: inline-block;
  -webkit-column-count: 3;
  column-count: 3;
  margin: 0 10px;
}
.thumbnail img {
  width: 100%;
  cursor: pointer;
  opacity: 1;
  border: 2px solid #fff;
  box-sizing: border-box;
}

.container2:hover .thumbnail {
  opacity: 1;
}

@media only screen and (max-width: 600px){
   .images {
    -webkit-column-count: 1;
    column-count: 1;
   }
}

@media only screen and (max-width: 768px) {
  .images {
    -webkit-column-count: 2;
    column-count: 2;
  }
}
